.meetings-form-section{
    padding: 1em;
    border-radius: 4px;
    background-color: #73C7D5;
}

.meetings-form-section hr{
    background-color: grey;
}
.meetings-form-section button{
    padding: 0.5em 1em;
}

.form-heading{
    margin: 0;
    color: #fff;
}

.meetings-form label{
    display: block;
    font-size: 1.1em;
    margin-top: 0.75em;
    margin-bottom: 0.25em;
}
.meetings-form input,
.meetings-form select,
.meetings-form textarea{
    margin-top: 0;
    color: rgb(40, 40, 40);
    background-color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.5em;
    width: 100%;
}

.meetings-form input,
.meetings-form textarea{
    box-sizing: border-box;
}