.my-menu{
    background-color: rgb(238, 238, 238);
}

.main-menu-link,
.logout-btn,
.email-field{
    padding: 1em;
    color: grey;
    text-decoration: none;
}
.main-menu-link:hover,
.main-menu-link:active,
.router-link-exact-active{
    cursor: pointer;
    color: black !important;
    background-color: lightgrey;
}
.logout-btn:hover{
    cursor: pointer;
    color: black;
}

.mobile-menu{
    display: none !important;
}

.closed-menu{
    display: none !important;
}

@media (max-width: 992px) {
    .nav-menu{
        flex-direction: column;
    }
    .nav-content,
    .nav-content-right{
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
    }
    .logout-btn{
        width: 20px;
    }
    .mobile-menu{
        display: block !important;
        width: 100%;
        margin: 0.25em 0;
    }
    .logo{
        margin: 0;
    }
    .bars{
        border: 1px solid black;
        border-radius: 5px;
        padding: 0.5em;
    }
    .main-menu-link,
    .logout-btn,
    .email-field{
    padding: 0.5em;
}
}