.main-menu{
    background-color: #F8F9FA;
}

.main-menu-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-menu-nav .main-menu-link a{
    text-decoration: none;
    color: grey;
    padding: 1em;
    transition: 1s;
}
.main-menu-nav .main-menu-link a:hover{
    color: black;
    background-color: lightgrey;
}
.active{
    color: black !important;
    background-color: lightgrey;
}

.logout-btn a{
    text-decoration: none;
    color: grey;
    transition: 1s;
}
.logout-btn a:hover{
    color: black;
}

.main-menu div{
    float: right;
    display: flex;
}
.main-menu div p{
    padding: 0 0.5em;
}


.d-lg-none {
    display: none;
}


.mobile-display{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
    width: 100%;
}
.menu-header{
    text-decoration: none;
    margin-right: 1em;
    color: black;
}

@media (max-width: 992px) {
    .main-menu{
        flex-direction: column;
    }
    .main-menu-nav{
        flex-flow: row wrap;
    }
    .main-menu-nav li {
        flex-basis: 100%;
    }
    .main-menu-nav a{
        display: block;
    }
    .d-lg-none{
        display: block;
    }
    .main-menu-toggler{
        border: none;
        cursor: pointer;
        padding: 0.5em;
    }
    .d-sm-none{
        display: none;
    }
    .side-nav{
        display: flex;
        flex-direction: column;
    }
    .side-nav p{
        color: grey;
        margin-left: 0.5em;
    }
}